body{
background-color:#577357;
margin: 0;
}

.display{
  display: flex;
 border:5px solid #bfffbf;
 flex-basis: min-content;
 flex-flow: column;
}

.footer{
  display: flex;
  background-color: #bfffbf
}
.footerLink{
  padding-top: 32px;
  padding-left: 5px;
}
.img{
  margin-right: auto;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 10%;
  background-color:#6eaa65;
}
